.input-group {
  margin: 1.5rem 0;
}

th, td {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  width: 250px;
  height: 200px;
}

.chart {
  width: 250px;
  overflow: hidden;
}
