.search-bar {
  margin: 1.5em;
  margin-left: 0;
}

.search-bar input {
  width: 75%;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.video-item img {
  max-width: 10vw;
}

.video-detail .details {
  margin-top: 1.5em;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 1em;
}
